* {
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  background-image: linear-gradient(
      rgba(245, 239, 239, 0.75),
      rgba(245, 239, 239, 0.75)
    ),
    url('https://www.mappr.co/wp-content/uploads/2022/03/world-map-high-definition.jpg');
  background-size: cover;
  background-size: 110%;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
  color: rgb(14, 14, 171);
  font-size: large;
  font-style: italic;
}
